# Pandas Dataframe Agent Tutorial by BhaveshðŸ¦œ
[**Link to my YouTube Channel**](https://www.youtube.com/BhaveshBhatt8791?sub_confirmation=1)

## Installs

In [ ]:
%%capture
!pip install -q langchain
!pip install -q openai

## Secrets

In [ ]:
import os
os.environ['OPENAI_API_KEY'] = 'sk-'

# Imports

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("data.csv")

In [ ]:
df.head(3)

,User ID,Product ID,Product Name,Brand,Category,Price,Rating,Color,Size
0,19,1,Dress,Adidas,Men's Fashion,40,1.043159,Black,XL
1,97,2,Shoes,H&M,Women's Fashion,82,4.026416,Black,L
2,25,3,Dress,Adidas,Women's Fashion,44,3.337938,Yellow,XL

# Langchain

In [ ]:
from langchain.llms import OpenAI
from langchain.agents import create_pandas_dataframe_agent

In [ ]:
agent = create_pandas_dataframe_agent(OpenAI(temperature=0), df, verbose=True)

In [ ]:
agent.run("how many rows are there?")

> Entering new  chain...
Thought: I need to count the rows
Action: python_repl_ast
Action Input: df.shape[0]
Observation: 1000
Thought: I now know the final answer
Final Answer: There are 1000 rows.

> Finished chain.

'There are 1000 rows.'

In [ ]:
agent.run("how many entries of Adidas are present?")

> Entering new  chain...
Thought: I need to count the number of entries with Adidas as the brand
Action: python_repl_ast
Action Input: df[df['Brand'] == 'Adidas'].shape[0]
Observation: 198
Thought: I now know the final answer
Final Answer: 198 entries of Adidas are present.

> Finished chain.

'198 entries of Adidas are present.'

In [ ]:
df['Brand'].value_counts()

Nike      214
Zara      203
Adidas    198
H&M       194
Gucci     191
Name: Brand, dtype: int64

In [ ]:
agent.run("how many XL products of Nike are there that have a rating of more than 4?")

> Entering new  chain...
Thought: I need to filter the dataframe to only include Nike products with a rating of more than 4 and size XL
Action: python_repl_ast
Action Input: df[(df['Brand'] == 'Nike') & (df['Rating'] > 4) & (df['Size'] == 'XL')].shape[0]
Observation: 12
Thought: I now know the final answer
Final Answer: 12

> Finished chain.

'12'

In [ ]:
agent.run("What is the cube root of the median rating?")

> Entering new  chain...
Thought: I need to find the median rating first.
Action: python_repl_ast
Action Input: df['Rating'].median()
Observation: 2.984002878443823
Thought: Now I need to find the cube root of this number.
Action: python_repl_ast
Action Input: pow(df['Rating'].median(), 1/3)
Observation: 1.4396814622141263
Thought: I now know the final answer.
Final Answer: 1.4396814622141263

> Finished chain.

'1.4396814622141263'

In [ ]:
agent.run("Give all the product names and user id's of Adidas which have a size of L and have a rating of more than 4.2")

> Entering new  chain...
Thought: I need to filter the dataframe to get the rows that match the criteria
Action: python_repl_ast
Action Input: df[(df['Brand'] == 'Adidas') & (df['Size'] == 'L') & (df['Rating'] > 4.2)]
Observation:      User ID  Product ID Product Name   Brand         Category  Price  \
165      100         166      Sweater  Adidas    Kids' Fashion     96
326       95         327        Dress  Adidas    Kids' Fashion     72
807       20         808      T-shirt  Adidas  Women's Fashion     26
927       37         928      Sweater  Adidas    Kids' Fashion     10

       Rating   Color Size
165  4.743824   White    L
326  4.572943   White    L
807  4.324805  Yellow    L
927  4.585560   Black    L
Thought: I now need to get the product names and user ids from the filtered dataframe
Action: python_repl_ast
Action Input: df[(df['Brand'] == 'Adidas') & (df['Size'] == 'L') & (df['Rating'] > 4.2)][['User ID', 'Product Name']]
Observation:      User ID Product Name
165      100      Sweater
326       95        Dress
807       20      T-shirt
927       37      Sweater
Thought: I now know the final answer
Final Answer: The product names and user ids of Adidas which have a size of L and have a rating of more than 4.2 are Sweater (User ID 100), Dress (User ID 95), T-shirt (User ID 20), and Sweater (User ID 37).

> Finished chain.

'The product names and user ids of Adidas which have a size of L and have a rating of more than 4.2 are Sweater (User ID 100), Dress (User ID 95), T-shirt (User ID 20), and Sweater (User ID 37).'